.header nav a{
    text-decoration: none;
    margin-right: 30px;
    background-color: rgba(0, 0, 255, 0.858);
    padding: 10px;
    color:aliceblue;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

.title{
    text-shadow: 2px 2px rgba(0, 0, 255, 0.389);
}